@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style:none;
}
html{
    scroll-behavior: smooth;
}
.body{
    background-color: rgb(39, 38, 38);
    display:block;
    place-items: center;
    height: 100vh;
}
#loader{
    position: absolute;
    height: 50px;
    width: 50px;
}
.hide{
    display: none;
}
.body2{
    color: aliceblue;
    font-family: 'Merriweather', serif;
    width: 100%;
    position: absolute;
}
/* navbar */
nav {
    background-color: #202020;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    position: sticky;
    z-index: 100;
    top: 0px;
    transition: all 0.5s;
    gap: 1rem;
}
nav ul {
    display: flex;
    list-style: none;
    width: 25%;
    justify-content: space-between;
    line-height: 50px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
}
nav ul li a {
    text-decoration: none;
    color: aliceblue;
    margin: 2px;
    transition: 0.2s;
    font-family: 'Heebo', sans-serif;
}
.logo img{
    margin-right: 10px;
    filter: grayscale(100%);
}
nav ul li a.active,
nav ul li a:hover {
    color: #0077ff;
    border-bottom: 0.2rem solid #0077ff;
    padding: 0.5rem 0;
}
.barr{
    font-size: 0px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hide2{
    display: flex;
    transition: all 0.5s;
}
@media screen and (max-width: 1100px){
    nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }.nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }.barr{
        color: aliceblue;
        margin-right: 20px;
        font-size: 20px;
    }.logo{
        margin-left: 20px;
    }
    .hide2{
        display: none;
    }.join{
        width: 95vw !important;
    }.join div{
        font-size: 20px !important;
    }
}
/* nav endl */
/* main */
.main{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    flex-wrap: wrap;
}
.main img{
    border-radius: 200px;
    width:20rem;
    height: 20rem;
    filter: grayscale(100%);
    transition: all 0.2;
    cursor: pointer;
}
.main img:hover{
    filter: none;
}
.metex h2{
    font-size: 3rem;
}.metex{
    width: fit-content;
}
.metex p{
    font-size: 1.2rem;
}.metex span{
    color: #0077ff;
}#red{
    color: rgb(17, 244, 78);
}
/* main end  */
/* about me */
.about_me{
    width: 100%;
    height:fit-content;
    padding-top: 20px;
    background-color: #131111;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: column;
}
.about img{
    border-radius: 50px;
    width:12rem;
    height: 12rem;
    filter: grayscale(100%);
    cursor: pointer;
    transition: all 1s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    margin: 1rem 4rem;
}
.about img:hover{
    filter: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.about{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px 20px;
    padding-bottom: 30px;
    flex-wrap: wrap;
}
.about_text p{
    font-size: 20px;
}
.about_text{
    position: absolute;
}
#text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* skills  */
.skill{
    width: 100%;
    height:fit-content;
    padding-top: 20px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.imgS{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    width: 9rem;
    height: 9rem;
    border-radius: 20px;
    cursor: pointer;
    flex-direction: column;
    background-color: black;
}
.cont img{
    margin-bottom: 3px;
    width: 6rem;
    height: 6rem;
    filter: grayscale(100%);
    transition: all 0.3s;
}.cont:hover img{
    filter: none;
}
.div{
    height: 2.7rem;
    width: 9rem;
    border-radius: 13px;
    margin: 15px 4rem;
    border: 0px;
    border-radius: 13px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: bolder;
    transition: all 0.5s;
    cursor: pointer;
}.div:hover{
    transform:scale(1.1);
    color: aliceblue;
    background-color: #0077ff;
}
/* skill ends  */
/* project  */
.projects{
    width: 100%;
    height:fit-content;
    padding-top: 20px;
    display: flex;
    background-color: #131111;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 2rem;
    flex-wrap: wrap;
    
}#yellow{
    color: yellow;
}.content{
    width: 400px;
    height: 300px;
    margin: 2rem 2rem;
    background-color: #000000;
    border-radius: 40px;
    overflow: hidden;

}.card{
    background-color: rgb(39, 38, 38);
    width: 100%;
    height:80%;
    position: relative;
    top: 245px;
    z-index: 100;
    opacity: 0.96;
    transition: all 0.5s;
}.card:hover{
    top: 60px;
}
.content img{
    width: 400px;
    height: 300px;
    position: absolute;
    border-radius: 40px;
    overflow: hidden;
}.title{
    width: 100%;
    height: 55px;
    top: 10%;
    background-color: #000000;
}.projects h2{
    margin-bottom: 2rem;
}
h2 li{
    font-size: 20px;
}.join{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4e4e4e;
    width: 68vw;
    height: fit-content;
    border-radius: 20px;
    margin-bottom: 20px;
}.but{
    margin: 20px 0px !important;
}.write{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}.title{
    display: grid;
    place-items: center;
}.write p{
    margin: 2rem 0px;
}
/* project end  */
/* footer  */
.footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
}.thanks{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20px;
}.thanks h2{
    margin: 2rem 0px;
}.contact h2{
    margin: 2rem 0px;
}
/* scroll  */
#scroll-top {
    position: fixed;
    top: -140%;
    right: 3rem;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    background: #0077ff;
    color: white;
    border-radius: 10px;
    transition: 1s linear;
    z-index: 1;
}.share{
    display: flex;
    flex-wrap: wrap;
}.share a{
    height: 2.2rem;
    width: 2.2rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1rem;
    margin-right: 1rem;
    transition: 0.3s;
    background: rgb(230, 230, 230);
    color: #02094b;
    border: none;
}.share a:hover{
    background: transparent;
    transform: scale(0.9);
    border: 0.1rem solid rgb(180, 178, 178);
    color: #0077ff;
}.contact p{
    font-size: 1rem;
    color: #ccc;
    padding: 0.7rem 0;
    text-transform: none;
}.contact p i {
    padding-right: 1rem;
    color: #0077ff;
}.footer1{
    display: flex;
    align-items: center;
    flex-direction: column;
}.buts{
    background-color: #202020;
    color: #ccc;
}   
@media screen and (max-width: 1100px){
 
    .contact{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }.content,.content img{
        width: 300px;
    }
    .logo img,.cont img,.about img,.main img,.logo img{
        filter: none;
    }
    .body2{
        overflow: hidden;
    }
}
